@media (min-width: 640px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    #members.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

}