@media (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .hero-text {
        top: 30%;
        left: 50px;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}